.start-stream-btn {
    border-radius: 99px;
    padding: 0.5rem 2rem;
    height: 60px;
}

.reminder {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
